.page-admin-config-services-pushup .icon-preview {
	padding: 10px;
	background-color: #d9d9d9;
	border: 1px solid #bbb;
	text-align: center;
	margin: 10px 10px 10px 0;
}
.page-admin-config-services-pushup .icon-preview .title {
	font-size: 12px;
	margin: 0 0 10px 0;
}
.page-admin-config-services-pushup .icon-preview .thumbnail {
	background-color: #f2f2f2;
	background: url(../images/grid.gif);
	width: 128px;
	height: 128px;
	outline: 1px solid #c9c9c9;
	position: relative;
	cursor: pointer;
}
.page-admin-config-services-pushup .icon-preview .thumbnail img {
	position: absolute;
	left: 50%;
	top: 50%;
}
.page-admin-config-services-pushup .icon-preview .thumbnail .loader {
	background: url(../images/loader.gif) no-repeat;
	height: 16px;
	width: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	z-index: 100;
	display: none;
}
.page-admin-config-services-pushup .icon-preview .button {
	margin: 10px 0 0 0;
	outline: none;
}
.page-admin-config-services-pushup .icon-preview#icon-16x16 .thumbnail img {
	margin: -8px 0 0 -8px;
	height: 16px;
	width: 16px;
}
.page-admin-config-services-pushup .icon-preview#icon-16x16-2x .thumbnail img {
	margin: -16px 0 0 -16px;
	height: 32px;
	width: 32px;
}
.page-admin-config-services-pushup .icon-preview#icon-32x32 .thumbnail img {
	margin: -16px 0 0 -16px;
	height: 32px;
	width: 32px;
}
.page-admin-config-services-pushup .icon-preview#icon-32x32-2x .thumbnail img {
	margin: -32px 0 0 -32px;
	height: 64px;
	width: 64px;
}
.page-admin-config-services-pushup .icon-preview#icon-128x128 .thumbnail img {
	margin: -64px 0 0 -64px;
	height: 128px;
	width: 128px;
}
.page-admin-config-services-pushup .icon-preview#icon-128x128-2x .thumbnail img {
	margin: -64px 0 0 -64px;
	height: 128px;
	width: 128px;
}

/** STATUS **/

.page-admin-config-services-pushup .status-success {
	color: #4F8A10;
}

.page-admin-config-services-pushup .status-failure {
	color: #D8000C;
	font-size: 24px;
}

/** ANALYTICS **/

.pushup-analytics canvas,
.pushup-analytics div {
	float: left;
}

.pushup-analytics div {
	margin-left: 12px;
	margin-top: 18px;
	background-color: rgba(220,220,220,.5);
	padding: 5px;
}

.pushup-analytics p.pushup {
	padding: 5px;
	margin: 0;
	font-size: 0.85em;
	font-weight: bold;
}

.pushup-analytics p.description {
	clear: both;
	margin-top: 8px;
}

.pushup.Accepted,
.pushup.AllTime {
	color: rgba(74,198,143,1);
}

.pushup.Declined,
.pushup.ThisMonth {
	color: #63bde4;
}
